:root {
  /* Colors */
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);

  /* Neutral Colors */
  --very-dark-cyan: hsl(192, 100%, 9%);
  --very-pale-blue: hsl(207, 100%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
html,
body {
  width: 100%;
}
main,
footer,
header {
  width: 100%;
  overflow: hidden;
}
main {
  color: var(--very-dark-cyan);
}
p,
button {
  font-family: "Open Sans", sans-serif;
}
p {
  font-size: clamp(14px, 4vw, 1rem);
  max-width: 450px;
}
button {
  font-weight: 600;
  cursor: pointer;
}
button:hover {
  box-shadow: 0 0 10px var(--light-pink);
}
h1,
h2 {
  font-weight: 700;
}
img {
  max-width: 100%;
}
h2 {
  font-size: clamp(1.3rem, 5vw, 2.3rem);
}

.desktop {
  display: none;
}

.preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: white;
}

/* ----------------------------- */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px 5vw;
}
header #logo {
  width: clamp(100px, 30vw, 140px);
}
header .tryBtn {
  border: 2px solid var(--light-pink);
  background: transparent;
  color: var(--light-pink);
  padding: 8px 1.5rem;
  border-radius: 30px;
  font-size: clamp(14px, 2vw, 1.2rem);
}

/* ------------------------------------------- */

#hero-section {
  min-height: fit-content;
  height: 70vh;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  text-align: center;
  padding: 80px 5vw;
}
#hero-section h1 {
  font-size: clamp(1.6rem, 5vw, 3rem);
}
#hero-section p {
  font-size: clamp(15px, 3vw, 1.2rem);
  max-width: 600px;
  line-height: 1.6;
}
.startBtn {
  background: var(--pink);
  border: none;
  border-radius: 30px;
  padding: 14px 2.6rem;
  color: var(--very-pale-blue);
}
#hero-section .startBtn {
  margin-top: 1.5rem;
}

/* ------------------------------------------ */

#screen-sec {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 24px 5vw;
}
#screen-sec #device {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

#screen-sec section {
  width: 100%;
  max-width: 1240px;
  min-height: fit-content;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  margin-top: 40px;
}

.div_sec1 img {
  width: 30px;
}
.div_sec1 h2 {
  font-size: clamp(3.5rem, 10vw, 6rem);
}
.div_sec1 p {
  text-align: center;
}

/* -------------------------------------------- */

.side-sec {
  width: 100%;
}
.side-sec .inn-sec,
.middle-sec {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  min-height: fit-content;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 5vw;
  text-align: center;
  gap: 35px;
  background: transparent;
}
.side-sec p,
.middle-sec p {
  margin-top: 1.2rem;
}

.side-sec .out-sec {
  width: 100%;
  background: var(--very-pale-blue);
}
.side-sec .inn-sec img,
.middle-sec img {
  width: 80%;
  max-width: 400px;
}
.top-img {
  margin-bottom: -6px;
}
.top-img,
.bottom-img {
  width: 100%;
}

.comm-sec {
  width: 100%;
  max-height: 500px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  gap: 2rem;
  padding-top: 100px;
}

/* ------------------------------------------------------ */

footer {
  width: 100%;
  color: var(--very-pale-blue);
}

.bg-inn .logo {
  width: clamp(150px, 20vw, 300px);
  filter: invert(10%) brightness(1000%);
  margin-bottom: 20px;
}
footer .bg {
  width: 100%;
  min-height: fit-content;
  background: var(--very-dark-cyan);
  margin-top: -10px;
}
footer .bg-inn {
  max-width: 1240px;
  margin: 0 auto;
  padding: 24px 5vw;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.bg-inn section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1.5rem;
  padding: 30px 0;
}
.bg-inn section div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
}
.bg-inn .email {
  height: fit-content;
}
.bg-inn section input {
  width: 100%;
  outline: none;
  padding: 14px 16px;
  border-radius: 10px;
  border: none;
}
.bg-inn section button {
  align-self: end;
  background: var(--pink);
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
}
.contact p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
footer .bg-inn ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-top: 50px;
}
footer ul li a {
  color: white;
  font-size: 2rem;
}
@media (width > 900px) {
  .side-sec .inn-sec img,
  .middle-sec img {
    width: 80%;
    max-width: 500px;
  }
  .div_sec1 {
    margin-bottom: 200px;
  }

  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  #hero-section {
    height: 80vh;
    justify-content: end;
  }
  header {
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 60px;
  }
  .side-sec .inn-sec {
    flex-direction: row-reverse;
    gap: 40px;
    justify-content: space-between;
    text-align: left;
  }
  header #logo {
    width: 200px;
  }
  .middle-sec {
    flex-direction: row;
    gap: 40px;
    text-align: left;
    justify-content: space-between;
  }
  #hero-section h1 {
    font-size: clamp(2rem, 5vw, 3rem);
  }
  #screen-sec section {
    flex-direction: row;
  }

  .side-sec .inn-sec img,
  .middle-sec img {
    width: 40%;
    max-width: 500px;
    margin-bottom: 0px;
  }

  footer .bg-inn {
    flex-direction: row-reverse;
  }
  footer .bg-inn .email {
    height: 50px;
    flex-direction: row;
  }
  .email input {
    height: 100%;
  }
  .email button {
    height: 100%;
  }
  .startBtn {
    font-size: clamp(1rem, 4vw, 1.4rem);
  }
}
